body {
    margin: 0;
    padding: 0;
    background-color: #e6e8eb;
    font-family: Lucida Grande, Tahoma, Segoe UI, San Francisco, Roboto;
  }

  #barra {
    height: 43px;
    background-color: #334f8d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
  }
  #contenidor {
    width: 852px;
    background-color: #FFF;
    margin: 0 auto;
  }
  #portada {
    height: 315px;
    background-image: url(../img/portada.jpg);
    margin-top: 43px;
  }
  #nom {
    width: 320px;
    position: relative;
    left: 200px;
    top: 275px;
    color: #FFF;
    text-shadow: 0 0 2px #000;
  }
  #perfil {
    width: 160px;
    background-color: pink;
    border: white solid 4px;
    border-radius: 4px;
    position: relative;
    left: 20px;
    top: 120px;
    box-shadow: 0 0 5px #000;
  }
  #menu {
    height: 44px;
    background-color: #e6e8eb;
    padding: 0;
    margin: 0 0 0 200px;
    width: 475px;
  }
  #menu li {
    float: left;
    padding: 0 18px;
    display: block;
    font-weight: bold;
    color: #334f8d;
    background-color: #FFF;
    margin: 0 0 0 1px;
    height: 44px;
    line-height: 44px;
  }
  #menu li:hover{
    color: #000;
    background-image: url(../img/selec.gif);
    background-repeat: no-repeat;
    background-position: 50% 37px ;
  }
  #menu ul{

  }
  #contingut {
    border-top: solid 1px #e6e8eb;
  }

  .esquerra {
    width: 323px;
    border: solid 1px #CCC;
    border-radius: 3px;
    margin: 10px 0;
    padding: 0;
    float: left;
    clear: both;
  }
  .esquerra h4 {
    height: 14px;
    padding: 5px;
    font-weight: normal;
    font-size: 18px;
    text-indent: 36px;
    background-image: url(../img/lateral.png);
    background-repeat: no-repeat;
    margin: 0;
  }

  #presentacio h4 {
    background-position: 0 0;
  }
  #fotos h4 {
    background-position: 0 -24px;
  }
  #amics h4 {
    background-position: 0 -48px;
  }

  #presentacio li {
    height: 30px;
    border-top: solid 1px #e6e8eb;
    font-size: 12px;
    line-height: 30px;
  }

  #presentacio .estudis {
    list-style-image: url(../img/iconetes/icones_estudis.png);
  }
  #presentacio .domicili {
    list-style-image: url(../img/iconetes/icones_domicili.png);
  }
  #presentacio .feina {
    list-style-image: url(../img/iconetes/icones_feina.png);
  }
  #presentacio .relacio {
    list-style-image: url(../img/iconetes/icones_sentimental.png);
  }
  #presentacio .esdeveniments {
    list-style-image: url(../img/iconetes/icones_esdeveniments.png);
  }
  #presentacio .web {
    list-style-image: url(../img/iconetes/icones_rss.png);
  }

  #fotos ul li {
    background-size: 99px 99px;
    display: block;
    width: 99px;
    height: 99px;
    margin: 4px;
    float: left;
    color: transparent;
  }

  #fotos ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .esquerra ul {
    margin-top: 20px;
  }

  #f01 {
    background-image: url(../img/dogs/f01.jpg);
  }
  #f02 {
    background-image: url(../img/dogs/f02.jpg);
  }
  #f03 {
    background-image: url(../img/dogs/f03.jpg);
  }
  #f04 {
    background-image: url(../img/dogs/f04.jpg);
  }
  #f05 {
    background-image: url(../img/dogs/f05.jpg);
  }
  #f06 {
    background-image: url(../img/dogs/f06.jpg);
  }
  #f07 {
    background-image: url(../img/dogs/f07.jpg);
  }
  #f08 {
    background-image: url(../img/dogs/f08.jpg);
  }
  #f09 {
    background-image: url(../img/dogs/f09.jpg);
  }

  #amics ul li {
    background-size: 99px 99px;
    display: block;
    width: 99px;
    height: 99px;
    margin: 4px;
    float: left;
    color: #FFF;
    line-height: 178px;
    text-shadow: 0 0 2px #000;
    text-indent: 5px;
  }

  #amics ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  #a01 {
    background-image: url(https://rtirado2018.github.io/MP08/s2m8uf103_tirado%20/img/perfil.jpg);
  }
  #a02 {
    background-image: url(https://npedraza2018.github.io/MP08/s2m8uf103_pedraza/img/perfil.jpg);
  }
  #a03 {
    background-image: url(https://ielmajidi2018.github.io/MP08/s2m8uf103_elmajidi/img/perfil.jpg);
  }
  #a04 {
    background-image: url(https://aganoza2018.github.io/MP08/s2m8uf103_ganoza/img/perfil.jpg);
  }
  #a05 {
    background-image: url(https://sestall2018.github.io/MP08/s2m8uf103_estall/img/perfil.jpg);
  }
  #a06 {
    background-image: url(https://jricart2018.github.io/MP08/s2m8uf103_ricart/img/perfil.jpg);
  }
  #a07 {
    background-image: url(https://acalvo2018.github.io/MP08/s2m8uf103_calvo/img/perfil.jpg);
  }
  #a08 {
    background-image: url(https://amanchon2018.github.io/MP08/s2m8uf103_manchon/img/perfil.jpg);
  }
  #a09 {
    background-image: url(https://calvarez2018.github.io/MP08/s2m8uf103_alvarez/img/perfil.jpg);
  }
  #a10 {
    background-image: url(https://mlozano2018.github.io/MP08/s2m8uf103_lozano/img/perfil.jpg);
  }
  #a11 {
    background-image: url(https://fxolle2018.github.io/MP08/s2m8uf103_olle/img/perfil.jpg);
  }
  #a12 {
    background-image: url(https://kbaquerizo2018.github.io/MP08/s2m8uf103_baquerizo/img/perfil.jpg);
  }

  .dreta {
    width: 513px;
    border: solid 1px #CCC;
    margin: 10px 0;
    border-radius: 3px;
    float: right;
    position: relative;
    top: -635px;
  }

  #pensa {
    padding: 0;
    position: relative;
  }
  #pensa ul {
    height: 40px;
    background-color: #f5f6f8;
    margin: 0;
    padding: 0;
  }
  #pensa ul li {
    height: 40px;
    float: left;
    margin: 5px 10px 0 30px;
    padding:0;
    border-right: solid 1px #CCC;
    font-size: 14px;
  }
  #pensa div {
    height: 36px;
    width: 509px;
    margin: 0;
    padding: 0;
  }

  #pensa div input{
    height: 30px;
    width: 510px;
    margin: 0;
    padding: 0;
  }

  #pensa ul li a {
    display: block;
    height: 35px;
  }

  #pensa ul li a:hover {
    background-image: url(../img/selec.gif);
    background-repeat: no-repeat;
    background-position: 50% 30px;
  }

  #pensa .estado {
    list-style-image: url(../img/estado.png);
  }
  #pensa .foto {
    list-style-image: url(../img/foto.png);
  }
  #pensa .lugar {
    list-style-image: url(../img/lugar.png);
  }
  #pensa .acontecimiento {
    list-style-image: url(../img/acontecimiento.png);
  }

  /* ---------- Estils del mur --------- */
  h5 {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    height: 10px;
    padding: 5px;
  }

  h6 {
    font-style: normal;
    font-weight: normal;
    margin: 0;
    height: 10px;
    padding: 5px;
  }

  .postintro {
    padding: 10px 10px 10px 50px;
    background-image: url(../img/perfil.jpg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 10px 10px;
  }

  .post img, .post iframe, .post p {
    font-size: 12px;
    padding: 10px;
    width: 493px;
  }
